# Production
/build
/dist

# Misc
.DS_Store
.env
.env.local
.env.prod
.env.*
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo
*~


# Java / Maven
target/
.classpath
.project
.settings/
*.class
